p { font-family: Arial, sans-serif; font-size: 14 px; }
header{
       background-color: rgb(49, 137, 252);
}
p.solid {
    border-style: solid;
    padding: 40 px;
}
h1{
  color: aliceblue;
}
nav{
 background-color: chocolate;
}
h4{
    color: blue;
}
main{
    background-color: darkgrey;
}
section{
    background-color: rgb(255, 198, 53);
}
h2{
    color: black;
}
article{
    background-color: rgb(73, 189, 131);
}
h2{
    color: black;
}
aside{
    background-color: rgb(136, 79, 189);
}
p{
    color: aliceblue;
}
footer{
    background-color: rgb(54, 52, 52);
}
p{
    color: aliceblue;
}