p { font-family: Arial, sans-serif; font-size: 14px; }
header{
    background-color: rgb(49, 137, 252);
    border: 10px solid lightblue;
    padding: 5px;
    margin: 10px;
    color: aliceblue;
}

nav{
 background-color: chocolate;
    border: 5px solid hsl(204, 68%, 27%);
    padding: 5px;
    margin: 10px;
    color: black;
}

main{
    background-color: darkgrey;
}
section{
    background-color: rgb(255, 198, 53);
}
article{
    background-color: rgb(73, 189, 131);
}
aside{
    background-color: rgb(136, 79, 189);
}
p{
    color: aliceblue;
}
footer{
    background-color: rgb(54, 52, 52);
}
p{
    color: aliceblue;
}